.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
.notes/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config*.json

## Atom project files
.ftpconfig
.ftpignore
.tags

## emacs temp files
*.php~
*.sh~
\#*\#

## SyncToy config files
SyncToy*.dat

## PHPunit files & results
application/tests/*
!application/tests/controllers
!application/tests/models
.gitkeep

## Documentations & versioning filter
/build/
/application/docs

## Uploaded files
/files/
